.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.button {
  cursor: pointer;
  font-weight: 300;
  font-size: 1.2em;
  padding: 1em 3em;
  background-color: #005f6b;
  color: #00dffc;
  border: 0.1em solid #00dffc;
}
.button:hover {
  -webkit-box-shadow: 0em 0em 1em 0.1em #00dffc;
  box-shadow: 0em 0em 1em 0.1em #00dffc;
}
.button:active {
  -webkit-box-shadow: inset 0em 0em 1em #00dffc;
  box-shadow: inset 0em 0em 1em #00dffc;
}
body {
  background-color: #343838;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 100;
}
.container {
  text-align: center;
}
.login {
  display: none;
  width: 10em;
  text-align: center;
  margin: 10em auto;
}
.item {
  position: relative;
  display: inline-block;
  width: 213.33333333333334px;
  height: 160px;
  border: 1px solid #00b4cc;
  margin: 0.5em;
}
.item .image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
figure.loader {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 6.25em;
  height: 6.25em;
  -webkit-animation: rotate 2.4s linear infinite;
  -moz-animation: rotate 2.4s linear infinite;
  -o-animation: rotate 2.4s linear infinite;
  -ms-animation: rotate 2.4s linear infinite;
  animation: rotate 2.4s linear infinite;
}
figure.loader .white {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-animation: flash 2.4s linear infinite;
  -moz-animation: flash 2.4s linear infinite;
  -o-animation: flash 2.4s linear infinite;
  -ms-animation: flash 2.4s linear infinite;
  animation: flash 2.4s linear infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
figure.loader .dot {
  position: absolute;
  margin: auto;
  width: 2.4em;
  height: 2.4em;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
figure.loader .dot.red {
  top: 0;
  bottom: 0;
  left: 0;
  background: #f44;
  -webkit-animation: dotsY 2.4s linear infinite;
  -moz-animation: dotsY 2.4s linear infinite;
  -o-animation: dotsY 2.4s linear infinite;
  -ms-animation: dotsY 2.4s linear infinite;
  animation: dotsY 2.4s linear infinite;
}
figure.loader .dot.yellow {
  left: 0;
  right: 0;
  top: 0;
  background: #fb3;
  -webkit-animation: dotsX 2.4s linear infinite;
  -moz-animation: dotsX 2.4s linear infinite;
  -o-animation: dotsX 2.4s linear infinite;
  -ms-animation: dotsX 2.4s linear infinite;
  animation: dotsX 2.4s linear infinite;
}
figure.loader .dot.green {
  top: 0;
  bottom: 0;
  right: 0;
  background: #9c0;
  -webkit-animation: dotsY 2.4s linear infinite;
  -moz-animation: dotsY 2.4s linear infinite;
  -o-animation: dotsY 2.4s linear infinite;
  -ms-animation: dotsY 2.4s linear infinite;
  animation: dotsY 2.4s linear infinite;
}
figure.loader .dot.blue {
  left: 0;
  right: 0;
  bottom: 0;
  background: #33b5e5;
  -webkit-animation: dotsX 2.4s linear infinite;
  -moz-animation: dotsX 2.4s linear infinite;
  -o-animation: dotsX 2.4s linear infinite;
  -ms-animation: dotsX 2.4s linear infinite;
  animation: dotsX 2.4s linear infinite;
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  10% {
    width: 6.25em;
    height: 6.325em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.25em;
    height: 6.25em;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  10% {
    width: 6.25em;
    height: 6.325em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.25em;
    height: 6.25em;
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  10% {
    width: 6.25em;
    height: 6.325em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.25em;
    height: 6.25em;
  }
}
@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  10% {
    width: 6.25em;
    height: 6.325em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.25em;
    height: 6.25em;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  10% {
    width: 6.25em;
    height: 6.325em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    width: 6.25em;
    height: 6.25em;
  }
}
@-moz-keyframes dotsY {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    width: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 0;
  }
}
@-webkit-keyframes dotsY {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    width: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 0;
  }
}
@-o-keyframes dotsY {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    width: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 0;
  }
}
@-ms-keyframes dotsY {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    width: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 0;
  }
}
@keyframes dotsY {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    width: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 0;
  }
}
@-moz-keyframes dotsX {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    height: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    height: 0;
  }
}
@-webkit-keyframes dotsX {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    height: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    height: 0;
  }
}
@-o-keyframes dotsX {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    height: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    height: 0;
  }
}
@-ms-keyframes dotsX {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    height: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    height: 0;
  }
}
@keyframes dotsX {
  66% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    height: 2.4em;
  }

  77% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    height: 0;
  }
}
@-moz-keyframes flash {
  33% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-border-radius: 0%;
    border-radius: 0%;
  }

  55% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes flash {
  33% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-border-radius: 0%;
    border-radius: 0%;
  }

  55% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes flash {
  33% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-border-radius: 0%;
    border-radius: 0%;
  }

  55% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes flash {
  33% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-border-radius: 0%;
    border-radius: 0%;
  }

  55% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes flash {
  33% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-border-radius: 0%;
    border-radius: 0%;
  }

  55% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sloader {
  height: 10px;
  background-color: rgba(0,140,158,0.5);
  -webkit-animation: sloader 3s linearinfinite;
  -moz-animation: sloader 3s linearinfinite;
  -o-animation: sloader 3s linearinfinite;
  -ms-animation: sloader 3s linearinfinite;
  animation: sloader 3s linearinfinite;
  -webkit-box-shadow: inset 0em 0em 1em #00dffc;
  box-shadow: inset 0em 0em 1em #00dffc;
}
@-moz-keyframes sloader {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
@-webkit-keyframes sloader {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
@-o-keyframes sloader {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
@-ms-keyframes sloader {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
@keyframes sloader {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
