// stylus -w sty/main.styl -o css/.

@import nib

// http://www.colourlovers.com/palette/482774/dream_magnet
grey1 = #343838
cyan1 = #005f6b
cyan2 = #008c9e
cyan3 = #00b4cc
cyan4 = #00dffc


// thumb size
width = 640
height = 480

.clear
  clearfix()

// kill mobile text highlighting
*
  -webkit-touch-callout  none
  -webkit-text-size-adjust  none
  -webkit-user-select  none                  
  -webkit-tap-highlight-color transparent

// shared
.button
  cursor pointer
  font-weight 300
  font-size 1.2em
  padding 1em 3em
  background-color cyan1
  color cyan4
  border 0.1em solid cyan4
  &:hover
    box-shadow 0em 0em 1em 0.1em cyan4
  &:active
    box-shadow inset 0em 0em 1em cyan4

body
  background-color grey1
  font-size 14px
  font-family Roboto
  font-weight 100

.container
  text-align center

.login
  display none
  width 10em
  text-align center
  margin 10em auto

.item
  position relative
  display inline-block
  width unit(width/3, 'px')
  height unit(height/3, 'px')
  border 1px solid cyan3
  margin 0.5em
  .image
    background-size cover

@import _loader
@import _sloader

